<div class="container">
  <ng-container *ngIf="!customQuizSelected; else customQuiz">
    <div class="column">
      <app-option-card
        title="Random"
        description="A quiz consisting of random words from your vocab lists"
        size="medium"
        (click)="selectQuiz('random')"
      ></app-option-card>
      <app-option-card
        title="Quick Custom"
        description="Select your own lists"
        size="medium"
        (click)="selectQuiz('quick custom')"
      ></app-option-card>
    </div>
  </ng-container>
  <ng-template #customQuiz>
    <app-create-custom-quiz [$onBackClick]="$onBackClick">
    </app-create-custom-quiz>
  </ng-template>
</div>
