/* You can add global styles to this file, and also import other style files */
:root {
  --pink: rgb(212, 41, 255);
  --teal: rgb(11, 221, 221);
  --white: #ffffff;
  --primary: #673ab7;
  --secondary: var(--pink);
  --background-grey: rgb(231, 231, 231, 0.3);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, sans-serif; }
